html, body{
  font-family: "Poppins", sans-serif;
  color: #3c3c3c;
  font-size: 1.15em;
}

.carousel img{
  width:100%;
  height: 100%;
}

.btn-primary{
  background-color: #fc3672;
  border: 1px solid #fc3672;
}

.btn-light{
  background-color: #fc3672;
  border: 1px solid #fc3672;
}

.btn-primary:hover{
  background-color: #c40053;
  border: 1px solid #c40053;
}

.btn-light:hover{
  background-color: #c40053;
  border: 1px solid #c40053;
}

.btn-outline-se{
  background-color: #fc3672;
}

.btn-outline-se:hover{
  background-color: #c40053;
  border: 1px solid #c40053;
}

.steam{
  color: #ffffff;
  font-family: Monaco;
}

.fun{
  width: 100%;
  margin-bottom: 2rem;
}

.gif{
  max-width: 100%;
}

.social a{
  font-size: 7rem;
  padding: 10rem;
}

.display-4{
  font-family: "Papyrus";
  font-style: italic;
  color: #7d41dd;
  font-weight: bold;
}
.display-2{
  font-family: Copperplate;
  font-style: italic;
  color: #f0f0f0;
}
.display-3{
  font-size: 2.5em;
  font-family: "Papyrus";
  font-style: italic;
  color: #7d41dd;
}
.divcs{
  color: #4a2300;
  font-family: Copperplate;
}

.card-title{
  color: #4a2300;
  font-family: Copperplate;
}

.philosophy{
  font-size: 1.15em;
  font-style: italic;
}

.lead{
  font-family: sans-serif;
  font-size: 1em;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

.mr-3{
  border-style: groove;
  margin-left: 2rem;
}

.mt-0{
  font-family: Monaco;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-right: 80rem;
}

.form-inline{
  margin-left: 2rem;
}

.with{
  font-family: Copperplate;
  color: #4a2300;
}


figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0;
}

#fixed {
  background-image: url("img/IMG_5061.JPG");
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
